// Colors
$primary-color: #4CAF50;
$secondary-color: #388E3C;
$accent-color: #8BC34A;
$light-color: #F1F8E9;
$dark-color: #1B5E20;
$text-color: #333;
$light-text: #777;
$background-color: #f9f9f9;
$white: #ffffff;
$black: #000000;
$gray: #e0e0e0;
$dark-gray: #bdbdbd;